{"http_interactions":[{"request":{"method":"delete","uri":"http://apiv2.clickmeter.com/account/ipblacklist/F528764D624DB129B32C21FBCA0CB8D6","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json; charset=UTF-8"], "X-Clickmeter-Authkey":["E1F52696-A853-41FA-A292-9575AA47663C"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"ew0KICAiaWQiOiAiRjUyODc2NEQ2MjREQjEyOUIzMkMyMUZCQ0EwQ0I4RDYi\nLA0KICAiaXAiOiAiMTI3LjAuMC4xIg0KfQ==\n"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 13:18:31 GMT"}],"recorded_with":"VCR 2.9.3"}