{"http_interactions":[{"request":{"method":"post","uri":"http://apiv2.clickmeter.com/account/domainwhitelist","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoid3d3LmdpdGh1Yi5jb20ifQ==\n"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "X-Clickmeter-Authkey":["E1F52696-A853-41FA-A292-9575AA47663C"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"ew0KICAiaWQiOiAiRDg1QjNFNjhDNDIyQ0NGQ0YxRUFCNThCNkQ4REZBRDAi\nLA0KICAibmFtZSI6ICJ3d3cuZ2l0aHViLmNvbSINCn0=\n"},"http_version":null},"recorded_at":"Wed, 11 Mar 2015 18:42:36 GMT"}],"recorded_with":"VCR 2.9.3"}