{"http_interactions":[{"request":{"method":"get","uri":"http://apiv2.clickmeter.com/groups/aggregated/list?timeframe=last7","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json; charset=UTF-8"], "X-Clickmeter-Authkey":["E1F52696-A853-41FA-A292-9575AA47663C"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"ew0KICAicm93cyI6IFtdDQp9\n"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 14:05:59 GMT"}],"recorded_with":"VCR 2.9.3"}