{"http_interactions":[{"request":{"method":"put","uri":"http://apiv2.clickmeter.com/conversions/7730/datapoints/patch","body":{"encoding":"UTF-8","base64_string":"eyJhY3Rpb24iOiJhZGQiLCJpZCI6MjAyNzU3NX0=\n"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "X-Clickmeter-Authkey":["E1F52696-A853-41FA-A292-9575AA47663C"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"ew0KICAiaWQiOiA3NzMwLA0KICAidXJpIjogIi9jb252ZXJzaW9ucy83NzMw\nIg0KfQ==\n"},"http_version":null},"recorded_at":"Thu, 12 Mar 2015 15:15:08 GMT"}],"recorded_with":"VCR 2.9.3"}