{"http_interactions":[{"request":{"method":"delete","uri":"http://apiv2.clickmeter.com/tags/20518","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json; charset=UTF-8"], "X-Clickmeter-Authkey":["E1F52696-A853-41FA-A292-9575AA47663C"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"ew0KICAiaWQiOiAyMDUxOCwNCiAgInVyaSI6ICIvZG9tYWlucy8yMDUxOCIN\nCn0=\n"},"http_version":null},"recorded_at":"Fri, 13 Mar 2015 11:26:56 GMT"}],"recorded_with":"VCR 2.9.3"}